{
	"useTabs": true,
	"tabWidth": 4,
	"semi": false,
	"singleQuote": false,
	"overrides": [
		{
			"files": [".prettierrc", ".eslintrc", "*.json"],
			"options": {
				"parser": "json"
			}
		},
		{
			"files": ["*.md"],
			"options": {
				"tabWidth": 2
			}
		}
	]
}
